* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --main-color: #f76c6c;
  --back-color: lightgrey;
}

nav {
  display: flex;
  padding: 0.5em 0 0.5em 0.5em;
  justify-content: space-around;
  align-items: center;
}

nav h1 {
  font-size: 2em;
  font-weight: 1000;
}

nav h1,
li {
  color: white;
}

nav,
footer {
  background-color: var(--main-color);
}

ul {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
}

li {
  margin-right: 1.5em;
  font-weight: 800;
  font-size: 1em;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  color: white;
  background: url(./images/bike.jpeg), black;
  background-position: center;
  background-size: cover;
  /* background-repeat: no-repeat; */
}

header h1 {
  font-size: clamp(10px, 5vw, 90px);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  line-height: 1.5;
  font-family: Verdana, sans-serif;
  background-color: var(--back-color);
}

main {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  margin: 1em auto;
  width: 70%;
}

h2 + * {
  margin: 1em 0;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.art1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

article {
  background-color: white;
  padding: 1.5em;
  border-radius: 7px;
  box-shadow: -5px 5px 10px rgba(128, 128, 128, 0.5);
}

footer {
  padding: 1em;
  font-weight: 800;
  margin-top: auto;
}

@media (min-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0 0.5em 0.5em;
  }

  ul {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    align-items: center;
  }

  .boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .art1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
